[build]
target = "riscv64gc-unknown-none-elf"

[target.riscv64gc-unknown-none-elf]
linker = "riscv64-elf-gcc"
rustflags = ["-C", "link-arg=-nostdlib", "-C", "link-arg=-Tlink.x"]
runner = "qemu-system-riscv64 -machine virt -nographic -bios none -kernel"

[target.riscv64gc-unknown-linux-musl]
linker = "riscv64-linux-musl-gcc"
rustflags = ["-C", "target-feature=+crt-static"]
runner = "qemu-riscv64"

[env]
CC_riscv64gc_unknown_none_elf = "riscv64-elf-gcc"
AR_riscv64gc_unknown_none_elf = "riscv64-elf-ar"
CFLAGS_riscv64gc_unknown_none_elf = "-ffreestanding -nostdlib -march=rv64gc -mabi=lp64d"
CC_riscv64gc_unknown_linux_musl = "riscv64-linux-musl-gcc"
AR_riscv64gc_unknown_linux_musl = "riscv64-linux-musl-ar"
